{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <legend id="title_page">{{ "Choisir un personnage" | trans }}</legend>
            <form name="battle" action="{{ path('game_play') }}" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        {% if characters is defined %}
                            <select name="character">
                                {% for character in characters %}
                                    <option value="{{ character.id }}">{{ character.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <p>Versus</p>
                    </div>
                    <div class="col-lg-1">
                        {% if opponents is defined %}
                            <select name="opponent">
                                {% for opponent in opponents %}
                                    <option value="{{ opponent.id }}">{{ opponent.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">BAGARRE</button>
            </form>
        </div>
    </div>
{% endblock %}
