{% extends 'base.html.twig' %}

{% block body %}
    <h1>TALISMAN</h1>
    <a href="{{  path('personnage_add') }}">Créer un personnage</a>
    <a href="{{  path('personnage_list') }}">Consulter vos personnages</a>
    <a href="{{  path('game_prepare') }}">Jouer</a>
    <a href="{{  path('fos_user_security_logout') }}">Se deconnecter</a>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
